<h1>Books</h1>

<!--ここからテーブル中身-->
<table>
  <thead>
    <tr>
      <th>title</th>
      <th>body</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>リーダブルコード</td>
      <td>より良いコードを書くためのシンプルで実践的なテクニック</td>
      <td>
        <a href="/books/160171">Show</a>
      </td>
      <td>
        <a href="/books/160171/edit">Edit</a>
      </td>
      <td>
        <a href="/books/160171/edit">Destroy</a>
      </td>
    </tr>
    <tr>
      <td>トラブル知らずのシステム設計</td>
      <td>システム設計の要点を図解で説明してくれます</td>
      <td>
        <a href="/books/160172">Show</a>
      </td>
      <td>
        <a href="/books/160172/edit">Edit</a>
      </td>
      <td>
        <a href="/books/160172/edit">Destroy</a>
      </td>
    </tr>
    <tr>
      <td>たのしいRuby</td>
      <td>Rubyの入門におすすめです</td>
      <td>
        <a href="/books/160173">Show</a>
      </td>
      <td>
        <a href="/books/160173/edit">Edit</a>
      </td>
      <td>
        <a href="/books/160173/edit">Destroy</a>
      </td>
    </tr>
    <tr>
      <td>入門Git</td>
      <td>gitについての基本操作から内部構造まで解説してくれます</td>
      <td>
        <a href="/books/160174">Show</a>
      </td>
      <td>
        <a href="/books/160174/edit">Edit</a>
      </td>
      <td>
        <a href="/books/160174/edit">Destroy</a>
      </td>
    </tr>
    <tr>
      <td>アルゴリズム図鑑</td>
      <td>アルゴリズムについてカラーイラストでしっかり解説してくれます</td>
      <td>
        <a href="/books/160175">Show</a>
      </td>
      <td>
        <a href="/books/160175/edit">Edit</a>
      </td>
      <td>
        <a href="/books/160175/edit">Destroy</a>
      </td>
    </tr>
    <tr>
      <td>達人プログラマー</td>
      <td>プログラマ入門者は必読！</td>
      <td>
        <a href="/books/160176">Show</a>
      </td>
      <td>
        <a href="/books/160176/edit">Edit</a>
      </td>
      <td>
        <a href="/books/160176/edit">Destroy</a>
      </td>
    </tr>
    <tr>
      <td>データベース実践入門</td>
      <td>効率的なSQL文を教えてくれます</td>
      <td>
        <a href="/books/160177">Show</a>
      </td>
      <td>
        <a href="/books/160177/edit">Edit</a>
      </td>
      <td>
        <a href="/books/160177/edit">Destroy</a>
      </td>
    </tr>
  </tbody>
  </table>
  <!--テーブルはここまで-->

  <h2>New Book</h2>
  <!--入力フォーマット-->
  <form>
    <p>title</p>
      <input>

    <p>body</p>
      <textarea></textarea>
  </form>

  <!--投稿ボタン-->
  <input type="submit" value="Create Book">
