<div>
  <p id="notice"><%= flash[:notice] %></p>
</div>

<body>

    <h2>Title:</h2>
        <p><%= @book.title %></p>

    <h2>Body:</h2>
        <p><%= @book.body %></p>

    <a class="show_1" href="/books/1">Edit</a>
      |
    <a class="show_1" href="/books">Back</a>
</body>